body{
    background-color: rgb(214, 232, 239);
    display: flex;
    flex-direction:column;
    height: auto;
   
}
.topbar {
    height: 50px; 
    width: 100%;
    background-color: rgb(214, 232, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
        line-height: 15px;
        margin: auto;
        font-size: 30px;
        color: rgb(18, 18, 17);;
     }

}

.sorce {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    .navigation  {
        height: auto;
        width: 250px ;
        background-color: #263238;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .menu-label{
            cursor: pointer;
        }
        .menus{
            height: 0%;
            overflow: hidden;
            transition: all .5s;
            &.active{
                height: 250px;
            }
        }
        a{
            text-decoration: none;
            text-indent: 20px;
            // height: 200px;
            counter-reset: section;
            &:hover{
                color: #F7BD00;
            }
        }
        a1{
            text-indent: 20px;
            font-weight:bolder;
            text-decoration: none;
            color: #FFFFFF;
            text-align: left;
            line-height: 50px; 
            margin-top: 0px;
            flex: 0;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    }
    .neiron {
        width: 100%;
        height: 900px;
    
    }
    .daohang{
        background-color: #263238;
        line-height: 50px; 
        margin-top: 0px;
        text-align: left;
        color: #FFFFFF;
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-shrink: 0;
        img{
            display: flex;
        }
    }
}